@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-color: rgb(48, 48, 48);
    --bg-color: rgb(31, 31, 31);
}

body{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

*::selection{
    background-color: transparent;
    color: rgb(238, 238, 238);
 }

.sidebar{
    width: 85px;
    background-color: var(--main-color);
    height: 100vh;
    position: fixed;
}

.sidebar.active{
    width: 240px;
}

.logo_content{
    height: 67px;
    background-color: var(--bg-color);
}

.logo_content .logo{
    color: #ff6900;
    display: none;
    background-color: var(--bg-color);
    padding: 20px;
    font-size: 15px;
}

.logo_content .btn-toggle{
    position: absolute;
    color: whitesmoke;
    right: 17px;
    top: 7px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar ul{
    padding: 20px;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    font-size: 17px;
    align-items:flex-start;
    padding: 10px;
    transition: .4s easey;
}

.sidebar ul li a:hover{
    background-color: #ff6900;
    color: rgb(20, 20, 20);
    border-radius: 5px;
}

.sidebar ul li a i{
    padding-right: 25px;
    font-size: 26px;
}

.sidebar ul li a span{
    display: none;
}

.sidebar.active ul li a span{
    display: block;
}

.wrapper{
    position: relative;
    left: 85px;
    width: calc(100% - 85px);
    background-color: #fff;
    height: 100vh;
    padding: 20px;
}

.wrapper p{
    color: #ff6900;
    padding-left: 35px;
    font-size: 30px;
}
